body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  --text-color: #000;
  --bkg-color: #fff;
  background: var(--bkg-color);
}

body.dark-theme {
  --text-color: #fff;
  --bkg-color: #000;
}

h1, a {
  color: var(--text-color);
}

img {
  width: 100vw;
}

.navBar {
  height: 2rem;
  border-style: dotted;
  border-bottom-color: var(--text-color);
  border-bottom-width: 0.5rem;
  align-content: center;
  position: sticky;
  top: 0;
}

.mainPage {
  justify-items: center;
  align-content: center;
}