body {
  width: 100vw;
  height: 100vh;
  justify-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  --text-color: #000;
  --bkg-color: #fff;
  /* linear-gradient(to right, #eee, #fff); */
}

body.dark-theme {
  --text-color: #fff;
  --bkg-color: #000;
  /* --bkg-color: linear-gradient(to right, #000000 #343d46); */
}

body {
  background: var(--bkg-color);
}

h1, a {
  /* background-color: white; */
  color: var(--text-color);
  /* border-radius: 8px;
  padding: 10px; */
}

img {
  width: 100vw;
}
