body {
  background-image: linear-gradient(to right, #343d46, #c0c5ce);
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

h1, a {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid firebrick;
}

img {
  width: '100%';
  aspect-ratio: 1/1;
}
